* {
    box-sizing: border-box;
}

body {
    background-color: rgba(73, 163, 0, 0.07);
    font-family: "Poppins", sans-serif;

}

.title {
    color: rgba(72, 163, 0, 1);
    font-size: 64px;
    font-weight: 700;
    width: 660px;
    text-align: center;
    margin: 0 auto;
}

.title span {
    color: rgba(97, 72, 28, 1);
}

.container {
    background-color: rgba(251, 251, 251, 1);
    width: 660px;
    /* height: 810px; */
    padding: 28px 42px;
    border-radius: 15px;
    margin-inline: auto;
}

.sub-title {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    margin: 0;
}

.sun {
    padding-left: 16px;
}

.bar-title {
    color: rgba(133, 133, 133, 1);
    font-size: 16px;
    font-weight: 400;
    margin-top: 2rem;
    
}

.bar {
    height: 32px;
    width: 574px;
    background-color: rgba(72, 163, 0, 0.1);
    border-radius: 15px;
}

.bar-value {
    height: 100%;
    width: 33%;
    background-color: rgba(72, 163, 0, 1);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.bar-value-text {
    color: rgba(238, 255, 224, 1);
    padding-left: 18px;
    font-weight: 500;
    font-size: 10px;
}

.warning-text {
    color: rgba(255, 81, 81, 1);
    font-size: 14px;
    font-weight: 400;
    visibility: hidden;
}

.goal-container {
    height: 82px;
    width: 570px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
}

.custom-checkbox {
    height: 24px;
    width: 24px;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    
}


.goal-text {
    border: none;
    width: 470px;
    height: 28px;
    margin-left: 22px;
    font-size: 16px;
    font-family: inherit;
}

.goal-text::placeholder {
    color: rgba(217, 217, 217, 1);
}

.quote {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin: 70px 0 70px 0;
}

.madeBy {
    font-size: 10px;
    font-weight: 500;
    color: rgba(133, 133, 133, 1);
    text-align: center;
}
